<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>P Padilla</string>
	<key>description</key>
	<string>J language Grammar.</string>
	<key>name</key>
	<string>J Language</string>
	<key>uuid</key>
	<string>0C4E5370-6C26-437D-A00E-BAF58C3EDE89</string>
</dict>
</plist>
